---
---

@font-face {
	font-family: 'GT Flexa';
	src: url('https://cdn.shopify.com/s/files/1/0650/6168/3443/files/GT_Flexa_VAR.woff2?v=8407292138455320399') format('woff2');
	font-display: swap;
	font-weight: 100 900;
}

@font-face {
	font-family: 'GT Flexa';
	src: url('https://cdn.shopify.com/s/files/1/0650/6168/3443/files/GT_Flexa_VAR.woff2?v=8407292138455320399') format('woff2');
	font-display: swap;
	font-style: italic;
	font-variation-settings: "ital" 100;
}

@font-face {
	font-family: 'GT Flexa Mono';
	src: url('https://cdn.shopify.com/s/files/1/0650/6168/3443/files/GT_Flexa_Mono_VAR.woff2?v=1673511719') format('woff2');
	font-display: swap;
	font-weight: 100 900;
}

@font-face {
	font-family: 'GT Flexa Mono';
	src: url('https://cdn.shopify.com/s/files/1/0650/6168/3443/files/GT_Flexa_Mono_VAR.woff2?v=1673511719') format('woff2');
	font-display: swap;
	font-style: italic;
	font-variation-settings: "ital" 100;
}

* { box-sizing: border-box;}

body {
	font-family: 'GT Flexa', sans-serif;
	font-size: 18px;
	font-weight: 300;

	color: #00645a;
	background: #fffafe;

	margin: 1rem;
}

code {
	font-family: 'GT Flexa Mono', monospace;
	letter-spacing: -0.03em;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	hyphens: auto;
	word-break: break-word;
	overflow-wrap: break-word;
	word-wrap: break-word;
	font-weight: 900;
	font-variation-settings: "wdth" 150;
}

h1 {
	font-size: 3em;

	a {
		text-decoration: none;
	}
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

strong {
	font-weight: 900;
}

article, header {
	max-width: 80rem;
	margin: 0 auto;
}

header {
	display: flex;
	column-gap: 4rem;
	row-gap: 1rem;

	@media (max-width: 40rem) {
		flex-direction: column;

		img {
			width: 100%;
			height: auto;
		}
	}
}

a {
	&:link, &:visited {
		color: inherit;
	}

	&:hover, &active {
		color: #00ae9c;
	}
}

nav {
	display: flex;

	a {
		text-decoration: none;
	}

	ul {
		display: flex;
		align-items: center;
		gap: 2rem;
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

article {
	padding-bottom: 20vh;

	line-height: 1.25;

	p, li {
		margin-bottom: 1em;
	}

	h2, h3 {
		clear: left;
	}

	img, video {
		max-width: 100%;
		height: auto;

		&:not([src$=".svg"]) {
			border-radius: 1rem;
			box-shadow: .1rem .2rem 1rem rgba(41, 8, 97, 0.1), 1rem 2rem 10rem rgba(41, 8, 97, 0.3);
		}
	}

	table {
		border-radius: 0.5rem;
		border: 1px solid rgba(41, 8, 97, 0.3);
		border-spacing: 0;
	}

	td, th {
		padding: 0.75rem;
		border: 1px solid rgba(41, 8, 97, 0.3);
	}

	@media (min-width: 60rem) {
		&:not(.fullwidth) {
			> * {
				padding-left: calc(40% + 0.5rem);
			}
	
			> ul, > ol {
				padding-left: calc(40% + 2.5rem);
			}
	
			img:only-child, video:only-child {
				float: left;
				width: calc(66.666% - 0.5rem);
				height: auto;
				margin-left: calc(-66.666% - 1rem);
				margin-bottom: 4rem;
			}
		}

		h3 + p {
			img:only-child, video:only-child {
				margin-top: -3.6rem;
			}
		}
	}
}
