---
---

@font-face {
	font-family: 'GT Flexa';
	src: url('https://cdn.shopify.com/s/files/1/0650/6168/3443/files/GT_Flexa_VAR.woff2?v=8407292138455320399') format('woff2');
	font-display: swap;
	font-weight: 100 900;
}

@font-face {
	font-family: 'GT Flexa';
	src: url('https://cdn.shopify.com/s/files/1/0650/6168/3443/files/GT_Flexa_VAR.woff2?v=8407292138455320399') format('woff2');
	font-display: swap;
	font-style: italic;
	font-variation-settings: "ital" 100;
}

* { box-sizing: border-box;}

body {
	font-family: 'GT Flexa', sans-serif;
	font-size: 18px;
	font-weight: 300;

	color: #006C62;
	background: #fffafe;
}

h1, h2, h3, h4, h5, h6 {
	hyphens: auto;
	word-break: break-word;
	overflow-wrap: break-word;
	word-wrap: break-word;
	font-weight: 900;
	font-variation-settings: "wdth" 150;
}

h1 {
	font-size: 2.5em;
	line-height: 1;
}

strong {
	font-weight: 900;
}

article {
	max-width: 1200px;
	margin: 0 auto;

	h1 {
		clear: left;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	@media (min-width: 40rem) {
		> * {
			padding-left: calc(40% + 0.5rem);
		}

		> ul, > ol {
			padding-left: calc(40% + 2.5rem);
		}

		img:only-child {
			float: left;
			width: 66%;
			height: auto;
			margin-left: calc(-66% - 1rem);
			margin-bottom: 1rem;
		}
	}
}
