<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Pale Slim Ghost Synthesisers</title>
		<link rel="stylesheet" href="/public/styles/main.css">
		<link rel="icon" href="/etc/favicon.png">
	</head>

	<body>
		<header>
			<img src="/etc/Logo.png" height="60" alt="Pale Slim Ghost Synthesisers logo">

			<nav>
				<ul>
					<li>
						<a href="https://paleslimghost.store" target="_blank" rel="noopener no follow">store</a>
					</li>
					<li>
						<a href="https://github.com/apaleslimghost/synths" target="_blank" rel="noopener no follow">github</a>
					</li>
				</ul>
			</nav>
		</header>
		<article>
			{{ content }}
		</article>
	</body>
</html>
